@import "@/assets/scss/normalize.scss";
@import "@/assets/scss/icon.scss";
@import "@/assets/scss/lang-en.scss";

html {
  body {
    font-size: $font-size-m;
    font-family: $font-family;
    color: $title-color;
    height: 100%;

    .icon-button-status {
      color: $title-color;
      cursor: pointer;
      border-color: $border-color;
      &:hover,
      &.active {
        color: $main-active-color;
        border-color: $main-active-color;
      }
      &:active {
        color: darken($main-active-color, 10%);
        border-color: darken($main-active-color, 10%);
      }
      &.disabled {
        color: $disabled-color;
        cursor: not-allowed;
        border-color: $border-color;
      }
    }
  }
}

.v-dialog__main {
  line-height: 22px;
}

.disabledd-mask {
  background-color: $disabled-mask-color;
  cursor: not-allowed;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.v-form-item {
  .v-select,
  .v-input,
  .v-slider-line,
  .v-input-group,
  .v-input-number,
  .v-timepicker {
    width: 228px;
  }
}

.no-margin {
  .v-form-item:last-child {
    margin-bottom: 0;
  }
}

.channel-sync {
  .check-group {
    .v-checkbox {
      width: 72px;
      .v-checkbox__item {
        margin: 0;
      }
    }
    .v-checkbox:nth-child(4n + 1) {
      width: auto;
    }
    .v-checkbox:nth-child(4n + 2) {
      margin-left: 84px;
    }
    .v-checkbox:first-child {
      width: 84px;
    }
    .v-checkbox:nth-child(2) {
      margin-left: 0;
    }
  }
}

.disabledd-unit {
  color: $disabled-color;
}
