// 项目主颜色
$main-active-color: #ff801f;

$min-width: 1440px;
$min-height: 900px;

//元素高度（待修改）
$form-line-height: 32px;
$form-line-height-s: 24px;
$form-line-height-l: 40px;

//文字大小
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;

//颜色
$success-color: #17cc82;
$warn-color: #f4b71e;
$error-color: #fe0000;
$title-color: #262626;
$info-color: #595959;
$light-color: #8d8d8d;
$border-color: #d8d8d8;
$disabled-color: #c0c0c0;
$disabled-border-color: #e9e9e9;
$disabled-background-color: #fafafa;
$light-gray-color: #ccc;
$disabled-mask-color: rgba(255, 255, 255, 0.7);

//元素宽度  select input
$elem-width: 228px;

$font-family: "PingFangSC-Regular", "PingFang SC", "Microsoft Yahei" !default;

// 顶部导航
$header-height: 64px;

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    visibility: hidden;
    clear: both;
  }
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:export {
  mainActiveColor: $main-active-color;
  borderColor: $border-color;
  titleColor: $title-color;
}
